<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753825437228-9ondb1bi3994jdho4n7c03tr1van1h29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753825437228-9ondb1bi3994jdho4n7c03tr1van1h29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753825437228-aeckoacmn5grg8s0cunbqnvft2esuprs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArAWUp9lPf0uyvjV7GB4nxHoKX0YNt-jk</string>
	<key>GCM_SENDER_ID</key>
	<string>753825437228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.callexpress</string>
	<key>PROJECT_ID</key>
	<string>mycallexpress</string>
	<key>STORAGE_BUCKET</key>
	<string>mycallexpress.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753825437228:ios:d9f09fda41c06381182389</string>
</dict>
</plist>